<!DOCTYPE html>
<html>
  <head>
    <title>나의 게시판</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <h1>김밥나라</h1>
      <p>김밥나라 pos</p>
    </header>
    <body>
      <h1>김밥나라</h1>
      <div class="table">
        <div>1번 테이블</div>
        <div>2번 테이블</div>
        <div>3번 테이블</div>
        <div>4번 테이블</div>
      </div>
    </body>

    <footer>
      <address>CopyRight &copy; ioo168400</address>
    </footer>
  </body>
  <script>
    document.querySelector("div.table").addEventListener("click", (e) => {
      const div = e.target;
      const table = div.innerText;
      if (div.tagName === "DIV") {
        //alert(table);
        document.location.href = `/order/detail?table=${table}`;
      }
    });
  </script>
</html>
